@charset "UTF-8";


#test{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    background: #82e674;
    cursor: pointer;
    transition: font-size .2s;
}

#test:hover{
    font-size: 30px;
}

